{{#if admin}}
<div class="nav-header">
    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>
<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
          
               <a href="/admin/auth/logout" class="btn btn-danger" >Logout</a>
        
        </nav>
    </div>
</div>
{{/if}}
