        <!--**********************************
            Sidebar start
        ***********************************-->
       {{#if admin}} 
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li><a class="has-arrow" href="/admin/dashboard" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                    </li>
                    <li><a class="has-arrow" href="/admin/userm" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">User </span></a>
                    </li>
                    <li><a class="has-arrow" href="/admin/categories" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Category </span></a>
                    </li>
                    <li><a class="has-arrow" href="/admin/products" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Product </span></a>
                    </li>
                    <li><a class="has-arrow" href="/admin/coupons" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Coupons </span></a>
                    </li>
                    <li><a class="has-arrow" href="/admin/orders" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Orders </span></a>
                    </li>
                    <li><a class="has-arrow" href="/admin/returns" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Returns </span></a>
                    </li>
                    <li><a class="has-arrow" href="/admin/salesreport" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Sales Report </span></a>
                    </li>
                    <li><a class="has-arrow" href="/admin/category/offers" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Offers </span></a>
                    </li>
                </ul>
            </div>


        </div>
       {{/if}}
        <!--**********************************
            Sidebar end
        ***********************************-->