<h1>{{title}}</h1>
{{#if error_msg}}
    <p style="color: red;">{{error_msg}}</p>
{{/if}}
<form action="/auth/google/additional-info" method="post">
    <div>
        <label for="mobile">Mobile Number</label>
        <input type="text" id="mobile" name="mobile" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="password2">Confirm Password</label>
        <input type="password" id="password2" name="password2" required>
    </div>
    <button type="submit">Submit</button>
</form>
