
<div class="container text-center" style="width: 500px; height: 400px;">
    <h1>{{title}}</h1>
{{#if error_msg}}
<p style="color: red;">{{error_msg}}</p>
{{/if}}
<form action="/auth/google/additional-info" method="post">
    <div class="form-group">
        <input type="number" class="form-control" name="mobile" placeholder="Mobile" value="{{mobile}}" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
</div>

