<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Construction Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Constra HTML Template v1.0">
  
  <!-- theme meta -->
  <meta name="theme-name" content="aviato" />
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
  
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="/plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
  <!-- Animate css -->
  <link rel="stylesheet" href="/plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="/plugins/slick/slick.css">
  <link rel="stylesheet" href="/plugins/slick/slick-theme.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
  {{> userHeader}}
  {{{body}}}
  {{> footer}}

  <!-- Essential Scripts -->
  <!-- Include jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
  <!-- Bootstrap 3.1 -->
  <script src="/plugins/bootstrap/js/bootstrap.min.js" defer></script>
  <!-- Include Elevate Zoom library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js" defer></script>
  <!-- Main Js File -->
  <script src="/js/script.js" defer></script>
  <!-- Bootstrap Touchpin -->
  <script src="/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" defer></script>
  <!-- Video Lightbox Plugin -->
  <script src="/plugins/ekko-lightbox/dist/ekko-lightbox.min.js" defer></script>
  <!-- Count Down Js -->
  <script src="/plugins/syo-timer/build/jquery.syotimer.min.js" defer></script>
  <!-- slick Carousel -->
  <script src="/plugins/slick/slick.min.js" defer></script>
  <script src="/plugins/slick/slick-animation.min.js" defer></script>
  <!-- Elevate zoom -->
  <script src="/js/productzoom.js" defer></script>
</body>
</html>
