<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Construction Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Constra HTML Template v1.0">
  <meta name="theme-name" content="aviato">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/plugins/themefisher-font/style.css">
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/plugins/animate/animate.css">
  <link rel="stylesheet" href="/plugins/slick/slick.css">
  <link rel="stylesheet" href="/plugins/slick/slick-theme.css">
  <!-- Slick Carousel CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
  {{> userHeader}}
  {{{body}}}
  {{> footer}}

  <!-- Essential Scripts -->
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Bootstrap 3.1 -->
  <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
  <!-- ElevateZoom -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
  <!-- Slick Carousel -->
  <script src="/plugins/slick/slick.min.js"></script>
  <script src="/plugins/slick/slick-animation.min.js"></script>
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- Bootstrap Touchspin -->
  <script src="/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
  <script src="/js/zoom.js"></script>
  <!-- Ekko Lightbox -->
  <script src="/plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
  <!-- Syotimer -->
  <script src="/plugins/syo-timer/build/jquery.syotimer.min.js"></script>
  <!-- Custom Scripts -->
  <script src="/js/script.js"></script>
</body>
</html>
